<form [formGroup]="formularioAlumno" (ngSubmit)="onSubmit()">
  <p>
    Dni: <input type="text" formControlName="dni">
  </p>
  <p>
    Nombre: <input type="text" formControlName="nombre">
  </p>
  <div formGroupName="notas">
    <p>
      Primera nota:
      <input type="number" formControlName="nota1">
    </p>
    <p>
      Segunda nota:
      <input type="number" formControlName="nota2">
    </p>
    <p>
      Tercera nota:
      <input type="number" formControlName="nota3">
    </p>
  </div>
  <button type="submit">Confirmar</button>
</form>
<div>
  <p>
    Resultado: {{resultado}}
  </p>
</div>
