<div>
  <app-selector-numerico [minimo]="1" [maximo]="10" #selectorNumerico1></app-selector-numerico>
  <br>
  <button (click)="fijarSelectorNumerico1(1)">Fijar en 1</button><br>
  <button (click)="fijarSelectorNumerico1(5)">Fijar en 5</button><br>
  <button (click)="fijarSelectorNumerico1(10)">Fijar en 10</button>
  <hr>
  <app-selector-numerico [minimo]="1" [maximo]="10" #selectorNumerico2></app-selector-numerico>
  <br>
  <button (click)="fijarSelectorNumerico2(1)">Fijar en 1</button><br>
  <button (click)="fijarSelectorNumerico2(5)">Fijar en 5</button><br>
  <button (click)="fijarSelectorNumerico2(10)">Fijar en 10</button>
</div>