<p>
  Ingrese primer valor
  <input type="number" [(ngModel)]="valor1!">
</p>
<p>
  Ingrese segundo valor
  <input type="number" [(ngModel)]="valor2!">
</p>
<p>
  <select [(ngModel)]="operacion">
    <option value="Ninguna">Elija una opción</option>
    <option value="Sumar">Sumar</option>
    <option value="Restar">Restar</option>
    <option value="Multiplicar">Multiplicar</option>
    <option value="Dividir">Dividir</option>
  </select>
</p>
<p>
  Resultado:
  <span [ngSwitch]="operacion">
    <span *ngSwitchCase="'Sumar'">{{valor1! + valor2}}</span>
    <span *ngSwitchCase="'Restar'">{{valor1! - valor2}}</span>
    <span *ngSwitchCase="'Multiplicar'">{{valor1! * valor2}}</span>
    <span *ngSwitchCase="'Dividir'">{{valor1! / valor2}}</span>
    <span *ngSwitchDefault>(No eligió operación)</span>
  </span>
</p>
