<div class="container">
  <div class="row">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a routerLink="inicio" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="mapa" class="nav-link">Mapa</a>
      </li>
      <li class="nav-item">
        <a routerLink="contacto" class="nav-link">Contacto</a>
      </li>
      <li class="nav-item">
        <a routerLink="acerca-de" class="nav-link">Acerca de...</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
