<mat-tab-group>
  <mat-tab label="Colombia">
    <div class="datos">
      <p>
        <strong>Nombre del país:</strong> Colombia
      </p>
      <p>
        <img src="assets/images/Colombia.png" alt="Colombia">
      </p>
      <h3>Datos generales</h3>
      <p>Colombia es un país del extremo norte de Sudamérica. Su paisaje cuenta con bosques tropicales, las montañas de
        los Andes y varias plantaciones de café. En Bogotá, su capital a gran altura, el distrito Zona Rosa es famoso
        por sus restaurantes y tiendas. Cartagena, en la costa del Caribe, tiene una Ciudad Antigua colonial amurallada,
        un castillo del siglo XVI y arrecifes de coral cercanos.</p>
    </div>
  </mat-tab>
  <mat-tab label="Argentina">
    <div class="datos">
      <p>
        <strong>Nombre del país:</strong> Argentina
      </p>
      <p>
        <img src="assets/images/Argentina.png" alt="Argentina">
      </p>
      <h3>Datos generales</h3>
      <p>Argentina es un país sudamericano de gran envergadura con un terreno que incluye las montañas de los Andes,
        lagos glaciales y praderas en las Pampas, la tierra tradicional de pastoreo de su famoso ganado. El país es
        conocido por el baile y la música del tango. Su gran capital cosmopolita, Buenos Aires, se centra en la Plaza de
        Mayo, rodeada por imponentes edificios del siglo XIX, como la Casa Rosada, el icónico palacio presidencial.</p>
    </div>
  </mat-tab>
  <mat-tab label="México">
    <div class="datos">
      <p>
        <strong>Nombre del país:</strong> México
      </p>
      <p>
        <img src="assets/images/México.png" alt="México">
      </p>
      <h3>Datos generales</h3>
      <p>México es un país entre los Estados Unidos y América Central, conocido por las playas en el Pacífico y el golfo
        de México, y su diverso paisaje de montañas, desiertos y selvas. Las ruinas antiguas, como Teotihuacán y la
        ciudad maya de Chichén Itzá, se distribuyen por el país, al igual que las ciudades de la época colonial
        española. En la capital Ciudad de México, las elegantes tiendas, los famosos museos y los restaurantes gourmet
        son parte de la vida moderna.</p>
    </div>
  </mat-tab>
</mat-tab-group>