<button mat-button [matMenuTriggerFor]="mnuPeriodicos">Periódicos</button>
<mat-menu #mnuPeriodicos="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="mnuColombia">Colombia</button>
  <button mat-menu-item [matMenuTriggerFor]="mnuArgentina">Argentina</button>
</mat-menu>

<mat-menu #mnuColombia="matMenu">
  <a mat-menu-item href="https://www.eltiempo.com">El Tiempo</a>
  <a mat-menu-item href="https://www.lanacion.com.co">La Nación</a>
</mat-menu>

<mat-menu #mnuArgentina="matMenu">
  <a mat-menu-item href="https://www.clarin.com">Clarin</a>
  <a mat-menu-item href="https://www.lanacion.com.ar">La Nación</a>
</mat-menu>

<button mat-button [matMenuTriggerFor]="mnuBuscadores">Buscadores</button>

<mat-menu #mnuBuscadores="matMenu">
  <a mat-menu-item href="https://www.google.com">Google</a>
  <a mat-menu-item href="https://www.bing.com">Bing</a>
  <a mat-menu-item href="https://www.yahoo.com">Yahoo!</a>
</mat-menu>

