<div class="contenedor">
  <mat-form-field>
    <input type="number" matInput [(ngModel)]="valor1" placeholder="Ingrese primer número">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput [(ngModel)]="valor2" placeholder="Ingrese segundo número">
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="opcionSuma">Sumar</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="opcionResta">Restar</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="opcionMultiplicacion">Multiplicar</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="opcionDivision">Dividir</mat-slide-toggle>

  <button mat-raised-button color="primar" (click)="operar()">Calcular</button>

  <p>
    {{resultado}}
  </p>
</div>
