<div class="contenedor">
  <mat-form-field>
    <input type="number" matInput [(ngModel)]="valor1" placeholder="Ingrese primer valor">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput [(ngModel)]="valor2" placeholder="Ingrese segundo valor">
  </mat-form-field>
  <mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada">
    <mat-radio-button *ngFor="let o of tipoOperaciones" name="opciones" [value]="o" style="margin: 10px">
      {{o}}
    </mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button color="primary" (click)="operar">Calcular</button>
  <p>
    El resultado es: {{resultado}}
  </p>
</div>